.header, .footer {
  height: 100px;
  margin: 0;
  padding: 0;
  background: $primary-color url("https://ipopokids.ua/web_assets/img/email/header-bg.svg") no-repeat center;
}

.footer {
  background: $primary-color url("https://ipopokids.ua/web_assets/img/email/header-bg-rev.svg") no-repeat center;
}

.section {
  width: 342px;
  margin: 0 auto;
  border-bottom: 2px dashed $primary-color;
  padding: 25px 0 15px;
  text-align: center;
  color: $primary-color;
}

.block {
  border-bottom: 1px solid $primary-color;
  margin-bottom: 15px;
}

.item {
  text-align: center;

  .img {
    width: 153px;
    height: 153px;
    border: 1px solid $primary-color;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  .titie, .price, .buy {
    font-size: 16px;

    text-align: center;
  }

  .title {
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .price {
    font-weight: 700;
    margin: 5px 0;
  }
}

.item-pop {
  width: 100%;

  .img {
    width: 100%;
    height: 110px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

.buy a, .show-all {
  padding: 5px 35px;
  text-decoration: none;
  background-color: $primary-color;
  color: #fff;
  border-radius: 30px;
  display: inline-block;
}

.show-all {
  font-size: 24px;
  margin: 15px auto;
  width: fit-content;
  display: block;
}

.info {
  font-size: 14px;
  padding: 10px;
  font-weight: 700;
}


.section-title {
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  color: $primary-color;
}

.section-text, .promocode-title {
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: $primary-color;
}

a.link {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;

  .logo {
    width: auto;
    height: 80px;
    margin: 10px 0;
  }
}

.gift {
  width: 87px;
  height: 87px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed $primary-color;
  border-radius: 50%;
  background-color: #d0f6f8;
  box-shadow: 0 0 0 10px inset #fff;
  margin-right: 20px;

  img {
    width: 56px;
    height: auto;
    display: block;
    margin-top: 4px;
  }
}

.promocode-title {
  text-align: left;
}

.promocode-value {
  text-align: center;
  border: 4px solid $primary-color;
  color: #484848;
  padding: 0 20px;
  font-size: 22px;
  text-transform: uppercase;
}

.date-info {
  font-size: 16px;
  color: #5a5a5a;
  margin: 10px 0 16px;
  text-align: center;
}
.btn-wrap{
  text-align: center;
}
.to-shop {
  display: inline-block;
  padding: 5px 25px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  background-color: $primary-color;
  border-radius: 15px;

  &:hover, &:active, &:focus, &:visited {
    color: #fff;
    text-decoration: none;
  }
}

.socials {
  width: 350px;
  margin: 0 auto;
  text-align: center;
  padding: 25px;

  .icon {
    margin-right: 20px;
    display: inline-block;
    img{
      display: inline-block;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.footer {
  padding: 0 15px;
  color: $white;

  .text {
    color: $white;

    .section-title {
      color: white !important;
      text-align: center;
      font-weight: 500;
      font-size: 28px;
    }

    .section-text {
      color: white;
      text-align: center;
      font-size: 14px;
    }
  }


}

.contacts .phone {
  display: block;
  text-align: center;
  color: white;
}

.footer-link {
  display: block;
  width: 100%;
}

.footer-logo {
  width: 92px;
  height: 68px;
  margin: 0 auto;
  display: block;
  object-fit: cover;
  object-position: center;
}

